<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style type="text/css">
	.center{
		margin: 0 auto;
		text-align: center;

	}

	.navbar-inverse .navbar-nav{
		color: white;
	}
	body{
		padding-top: 120px;
		background: url(http://alef.mx/wp/wp-content/uploads/2015/07/Oleo-aereo-para-la-ciudad-de-Mexico-1024x678.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.jumbotron{
		opacity: 0.8;
	}
	#opaque{
		opacity:1;
	}
		</style>
</head>
<body>

<%= render 'shared/navbar' %>

<!--

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			     </button>
				<a href="/home/index" class="navbar-brand"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Ataraxia</a>
			</div>
			<div class="collapse navbar-collapse" id="navBar">
				<ul class="nav navbar-nav">
					<li><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Buscar</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Mensajes</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/users/new">Sign Up</a></li>
					<li><a href="/users/login">Sign in</a></li>
				</ul>
			</div>
		</div>
	</nav>
-->

<!-- Body -->
	<!-- Jumbotron -->
	<div class="container">
		<div class="jumbotron center">
			<img src="/LetrasConPajarito.png">
			<p id="sl">¿Qué quieres hacer?</p>

			<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5 center">
				<img src="http://iconshow.me/media/images/ui/ios7-icons/png/512/search_1.png" width="20%">
				<p></p>
				<div><%= link_to "Quiero buscar una propiedad", properties_show_path, :class=>"btn btn-success" %></div>


			</div>
			<div class="col-sm-5 center">
				<img src="https://image.freepik.com/iconos-gratis/para-la-senal-de-alquiler_318-64577.jpg" width="20%">
				<p></p>
				<div><%= link_to "Quiero exhibir una propiedad", properties_new_path, :class=>"btn btn-success" %></div>

			</div>
			<div class="col-sm-1"></div>
		</div>
		</div>
		<!-- Botones e iconos -->


	</div>







<script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>


 <!--  <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
</body>
</html>
